local/
cache/
broadcast/
out/
.env
.vscode

.DS_Store
node_modules/

lcov.info
coverage
bin

# hardhat
artifacts/
cache_hardhat/
typechain-types/

crytic-export/

.certora_internal
certora_debug_log.txt
resource_errors.json
